@font-face {
    font-family: Playball;
    src: url("../fonts/Playball.ttf");
}
#rules{
    float: right;
    font-family: Arial;
    margin-right: 50px;
    margin-top: 20px;
}
ul{
    font-size: 20px;
}