*,
:before,
:after {
    box-sizing: border-box;
}
.wrapper{
    position: relative;
}
.group {
    position: relative;
    margin: 45px 0;
}
input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
input:focus{
    outline: none;
}
input:focus ~ label, input:valid ~ label{
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}
input:focus ~ .bar:before{
    width: 320px;
}
label {
    color: #c6c6c6;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}
h2 {
    font-size: 2em;
    font-weight: 300;
    color: #2196F3;
}
.strategy{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 600px;
}
.formula{
    font-size: 20px;
}
.image{
    width: 400px;
    margin-right: 20px;
}