table, tr, td {
    margin-top: 20px;
    border: 2px solid crimson;
    border-collapse: collapse;
}
td {
    width: 60px;
    height: 30px;
}
.field {
    clear:both;
    text-align:right;
}
label {
    font-size: 18px;
    float:left;
    padding-right:10px;
}
.field {
    clear: both;
    text-align: right;
}
.range{
    padding-right:12px;
}
.range-player1{
    top: 102px;
}
.range-player2{
    top: 152px;
}
.range-input{
    position: absolute;
    left: 450px;
}
#container{
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    clear: both;
}
.value{
    text-align: center;
    width: 60px;
    border: none;
}
.letter-btn-player1{
    margin-top: 10px;
    width: 55px;
    position: absolute;
    left: 300px;
    /*top: 200px;*/
}
.letter-btn-player2{
    margin-top: 10px;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: 2px;
}
.col-form-label{
    font-size: 20px;
}
.form-control{
    margin-top: 15px;
    width: 150px;
}
.button{
    width: 60px;
    height: 50px;
}
.btn-class{
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 425px;
}
.title{
    font-size: 35px;
    color: #ffffeb;
}
.text, .table-player1-text, .table-player2-text{
    font-size: 25px;
    color: #ffb6c2;
}
.title, .text, .table-player2-text, .table-player1-text{
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
.solve-table{
   float: right;
}
.table-td{
    text-align: center;
    width: 75px;
    height: 50px;
    font-size: 20px;
}
.table-player1-text{
    margin-left: -34%;
}
.table-player2-text{
    margin-left: 50%;
}
.table-player1, .table-player2{
    margin-bottom: 10px;
    margin-top: 50px;
}
.table-player1{
    float: left;
}
.table-player2{
    float: right;
    margin-right: 20px;
}
.matrix-btn{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.stop-btn{
    font-size: 20px;
    margin-right: 10px;
}
#reactionFnContainer, #binaryMatrixPl1, #matrix{
    float:left;
}
#resultFnContainer, #binaryMatrixPl2, #solveMatrix{
    float: right;
    margin-right: 20px;
}

